.LoginForm{
    width:'100px'
}
.custom_form{padding: 60px 20px;
    margin-top: 100px;
    background: #f2f2f2;
    border-radius: 20px;}
    .custom_form button{width:100%}

    .image-gallery {
        display: flex;
        flex-wrap: wrap;
      }
      
      .image-gallery img {
        margin: 5px;
      }
      
      .full-width {
        width: 100%;
      }
      .custom_table .ant-table-content .ant-table-thead .ant-table-cell{
        background-color: #000000 !important;
        color: #f2f2f2;
      }
      .custom_table .ant-table-content .ant-table-thead .ant-table-cell .ant-table-column-sorter, .anticon.anticon-search{color: #f2f2f2; opacity: 0.5;}
      .small-width {
        width: 100px; height: 100px; margin: 10px; /* You can adjust the width as needed */
      }
      Title,Text{text-transform: capitalize; }
      .custom_font{font-size: 30px;}
      .f-16{font-size: 16px;}
      .f-20{font-size: 20px;}
      .text-red{color:red}